body {
		   background-image:url(https://www.wallpapertip.com/wmimgs/66-663189_purple-space-background.jpg);
 		background-size:auto ;
                    }
		h1 {
	border: 1px outset white;
	font-size: 40px;
	text-align:center;
	color:#ffffff;
		}
		h2 {
	text-align:center;
	color:#ffffff;
		}
		h3 {
	color:#ffffff;
		}
		 a {
	font-size: 20px;
	color:#ffffff;
		}
		 p{color:#ffffff;
		 }